html {
    background-image: linear-gradient(to right, rgb(101, 167, 228), rgb(44, 105, 219));
    background-size: fill;
}

h1, h2 {
    text-align: center;
    font-style: sans-serif;
    font-size: 3.3em;
}